.TodoItem__li {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  background-color: var(--white-light);
  border-radius: 0.5rem;
  border-left: 0 solid var(--success);
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.TodoItem__li--complete {
  background-color: var(--success-light);
}

.TodoItem__li:hover {
  /* transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3); */
  padding-left: 0.5rem;
  border-left: 0.5rem solid var(--success);
}

.TodoItem__p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.TodoItem__p--complete {
  text-decoration: line-through;
}

.TodoItem__icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
}

.TodoItem__icon-check {
  position: absolute;
  left: 12px;
}
.TodoItem__icon-check i {
  color: var(--success);
}
.TodoItem__icon-check:hover i {
  font-size: 30px;
}

.TodoItem__icon-check--active {
  color: var(--success);
}
.TodoItem__icon-delete {
  position: absolute;
  right: 3px;
}
.TodoItem__icon-delete:hover i {
  font-size: 30px;
}
