
.Search i {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.Search:hover,
.Search:valid {
  width: 200px;
  cursor: pointer;
}

.Search:hover input,
.Search:valid input {
  display: block;
}

.Search:hover .bx,
.Search:valid .bx {
  background: #07051a;
  color: white;
}

a {
  display: none;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

.Search:valid a {
  display: block;
}
