:root {
  --success: hsl(122, 50%, 47%);
  --success-light: hsl(122, 50%, 79%);
  --danger: hsl(342, 89%, 38%);
  --secondary: hsl(250, 84%, 60%);
  --white: hsl(0, 0%, 100%);
  --white-light: hsl(180, 3%, 100%);
  --black: #07051a;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
